.our-sidebar{
    height: 100vh;
}
body{
    height: 100%;
}
.row{
    height: 100%;
}

.col-7{
    background-color: white;
}

.col-4{
    box-shadow: -0.1em 0 .4em rgba(0, 0, 0, 0.25);
    background-color: #F5F5F5;
    height: 100vh;
}

.heading-deadline{
    margin: 30px;
}